{% extends "index.html" %}

<link href="/static/css/dashboard.css" rel="stylesheet">

{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="side-header">Перевозчики</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><a href="/projects/sortby/id_/">№</a></th>
                        <th><a href="/projects/sortby/name_/">Название</a></th>
                    </tr>
                </thead>

                {% for project in projects %}
                <tbody>
                    <tr>
                        <td>{{ project.id_}}</td>
                        <td><a href="/projects/{{ project.id_}}/">{{ project.name_ }}</a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
          </div>
{% endblock %}